@{
  Layout = "_Layout";
}

@model Library.Models.Author;

<h2>Author Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.AuthorName): @Html.DisplayFor(model => model.AuthorName)</h3>

@if(@Model.Items.Count == 0)
{
  <p>This category does not contain any items</p>
}
else
{
  <h4>Items the category contains:</h4>
  <ul>
  @foreach(var join in Model.Items)
  {
    <li>@join.Item.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to categories", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.CategoryId })</p>